<h1>You have found the DIEP.IO Guides site Homepage</h1>

<h2>A lot more stuff will be here soon.</h2>

<h4>If you are a GA student that is evaluating this site, did I mention how good you are looking today? Did you lose weight? Maybe you did something awesome to your hair? In anycase keep on being a stud!</h4>

<p>
<%= link_to "Click here to make a new guide!", new_guide_path %>
</p>
