<h1><%= @guide.title %></h1>












<!-- <h1> <%# @irkat.name %> </h1> -->

<!-- <p>This irKat is a <%#= @irkat.fur %> cub responds <%#= @irkat.likes_ruby %> when asked if they liked ruby. Get one now because our shop only has <%#= @irkat.quantity %> left.</p> -->

<%#= link_to "Edit this irkat!", edit_irkat_path(@irkat) %>
<%#= link_to "Abandon your irKat at the local shelter!", irkat_path, method: :delete, data: { confirm: "Are you sure you want give up this irKat to the shelter, what if it doesn't find a new home? We will spade or neuter any irKat that is left here. **might affect future coding**"} %>
<%#= link_to "Back to the list!", irkats_path %>
